/*=============================
=            Theme            =
=============================*/



body {
	-webkit-font-smoothing: antialiased;
	font: #{$base-font-size}/#{$baseline} $font-1;

	color: $color-text;
	background: #FAFAFA;
}

main {
	background: #3A3A3C;
}

h1,
h2,
h3,
h4,
h5,
h6, {
	margin-bottom: 1.3125rem;
	color: $color-light-text;
	font-family: $font-2;
	font-weight: normal;
}

h1 {
	font-size: 3.375rem;
	line-height: 5rem;
	// font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h6 {
	font-family: $font-1;
	font-size: 1.5rem;
	line-height: 1.7rem;
	text-transform: lowercase;
}

p {
	color: $color-text;
	font-size: 1rem;
}

svg {
	border: 1px solid #fff;
}

#circle {
	background: orange;
}

/*-----  End of Theme  ------*/

