/*=============================
=            Theme            =
=============================*/



body {
	-webkit-font-smoothing: antialiased;
	font: #{$base-font-size}/#{$baseline} $font-1;

	color: $color-text;
	background: #FAFAFA;
}

main {
	background: #3A3A3C;
}

h1,
h2,
h3,
h4,
h5,
h6, {
	margin-bottom: 1.3125rem;
	color: $color-light-text;
	font-family: $font-2;
	font-weight: normal;
}

h1 {
	font-size: 3.375rem;
	line-height: 3.5rem;
	// font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h6 {
	font-family: $font-1;
	font-size: 1.5rem;
	line-height: 1.7rem;
}

p {
	color: $color-text;
	font-size: 1rem;
}

.total {
	font-family: $font-2;
	color: $color-text;
	font-size: 2rem;
}

.margin-bottom {
	margin-bottom: $general-margin;
}

svg {
	border: 1px solid #fff;
}

#circle {
	// background: orange;
}

.bar {
  fill: steelblue;
}

.axis {
  font: 10px sans-serif;
  fill: white;
  letter-spacing: 1px;

}
g text {
	display: inline-block;
	fill: white;
	font-size: 10px;

}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}





/*-----  End of Theme  ------*/

