/*=================================
=            variables            =
=================================*/

$base-font-size: 18px;
$font-1: 'Open Sans', sans-serif;
$font-2: 'Slabo 27px', serif;

$baseline: $base-font-size * 1.7;

/* =Positioning */
$margin-multiplier: 2;
$general-margin: ($baseline * $margin-multiplier);


/* =Color text */
$color-text: #FAFAFA;
$color-light-text: #FFF;
$color-dark-text: #EEE;

$color-hr: #EEE;


/*-----  End of variables  ------*/

// backgound colors for testing
.bg-azzurro,
.bg-rosso,
.bg-verde,
.bg-giallo,
.bg-chiaro,
.bg-scuro {
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border: 1px solid $color-text;
}

.bg-rosso {
	background: #FF5E3E;	
}
.bg-verde {
	background: #8BC43F;
}
.bg-azzurro {
	background: #6BC4E2;	
}
.bg-giallo {
	background: #FFDE3D;	
}
.bg-chiaro {
	background: #FAFAFA;
	border: none;	
}
.bg-scuro {
	background: #222;
	border: none;	
}
